{%extends 'base.html'%}
{%load static%}
{%block title%}Home{%endblock title%}
{%block content%}
<div class="home-design"></div>
<div class="rectangle_1"></div>
<div class="website_name_top">EDUCATIONER</div>
<div class="rectangle_5">
    
</div>
<form method="POST">
    {% csrf_token %}
    <!--{% if form.username.errors %}
    <ol>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}-->
    <input type="text" name="username" id="id_username" placeholder="Username" required >
    <input type="password" name="password" id="id_password" placeholder="Password" required>
    
    <input class="login_text" type="submit" id="login" value="Login">
</form>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times</span>
            <h4 style="font-family: Lucida Console;">About:</h4>
        </div>
        <div style="font-family: Lucida Console;margin-top: 15px;">
            This website is intentionaly built for screen resolution of 1920 x 1080px with absolute positioning system.
            Later it will be migrated to a responsive view.
            The purpose behind this website is to offer educational services,after it is completely 
            developed.
            Temporarily it has large loading times because the slug size exceeds the soft limit of the
             deployment platform due to the free account.Currently this site represents basic features such as :User Authorization for every page,
            Database Management,Video Streaming,Interactive Front End and many more coming soon....
            <p>For a temporary trip to the website you can use the following user credentials:</p>
            Username:guestuser
            <br>
            Password:guest1234
        </div>
    </div>
</div>
<script src="{%static 'js/modal.js'%}"></script>
{%endblock content%}

