*{box-sizing:border-box;}

.row::after{
    content:"";
    clear:both;
    display:table;
}
[class*="col-"]{
    float:left;
    padding:15px;
    width=100%;
    margin-left:10px;/*for mobiles*/
}
@media only screen and (min-width:768px){
    /*for desktop*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
img{
    height:auto;
    width:100%;
}
body{
    width:1920px;
    height:1204px;
}
.rectangle_114{
    position: absolute;
    top: 1080px;
    left: -1px;
    width: 1921px;
    height: 124px;
    box-shadow: 0px -3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.website_name_bottom{
    position: absolute;
    top: 1126px;
    left: 1581px;
    width: 292px;
    height: 33px;
    text-align: right;
    font: Bold 25px/33px 'Segoe UI';
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.rectange_1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 109px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.website_name_top{
    position: absolute;
    top: 27px;
    left: 62px;
    width: 704px;
    height: 56px;
    text-align: left;
    font: Bold 40px/53px 'Segoe UI';
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.logout_button{
    position: absolute;
    top: 30px;
    left: 1457px;
    width: 188px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.30000001192092896px solid #707070;
    border-radius: 15px;
    opacity: 1;    
}
.logout_text{
    position: absolute;
    top: 44px;
    left: 1519px;
    width: 65px;
    height: 23px;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    font: Medium 20px/23px HelveticaNeue;
    letter-spacing: 0px;
    color: #2680EB;
    opacity: 1;        
}
.select_class_button{
    position: absolute;
    top: 30px;
    left: 1677px;
    width: 188px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.30000001192092896px solid #707070;
    border-radius: 15px;
    opacity: 1;    
}
.select_class_text{
    text-decoration: none;
    position: absolute;
    top: 44px;
    left: 1716px;
    width: 111px;
    height: 23px;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    font: medium 20px/23px 'HelveticaNeue';
    letter-spacing: 0px;
    color: #2680EB;
    opacity: 1;    
}
.rectangle_112{
    position: absolute;
    top: 109px;
    left: 0px;
    width: 1921px;
    height: 76px;
    background: #2680EB 0% 0% no-repeat padding-box;
    opacity: 1;    
}
.lessons_button{
    position: absolute;
    top: 109px;
    left: 92px;
    width: 172px;
    height: 77px;
    opacity: 1;    
}
.button_text{
    font-size: x-large;
    font-weight: bold;
    margin-top: 21px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.assignment_button{
    position: absolute;
    top: 109px;
    left: 264px;
    width: 208px;
    height: 77px;
    opacity: 1;
}
.live_streaming_button{
    position: absolute;
    top: 109px;
    left: 472px;
    width: 256px;
    height: 77px;
    opacity: 1;
}