.soon{
    position: absolute;
    top: 390px;
    left:100px;
    opacity: 0.5;
    font: lighter 50px/78px 'Poppins';
    letter-spacing: 0px;    
}
* {
    box-sizing: border-box;
  }
#parent{
  width: 1920px;
  height: 2452px;
}
#parent::after {
    content: "";
    clear: both;
    display: block;
  }
  
[class*="col-q-"] {
    position: relative;
    left: 30%;
    padding: 15px;
    height: 92px;
    background-color: white;
}
.col-1 {width: 8.33%;}
.col-1_5{width:271px}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-q-7 {width: 58.33%;}
.col-q-8 {width: 66.66%;}
.col-q-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-q-12 {width: 100%;}

.test_heading{
    position: absolute;
    top: 266px;
    left: 124px;
    width: 231px;
    height: 41px;
    text-align: left;
    font: 1000 35px/70px 'Poppins';
    letter-spacing: 0px;
    color: #112234;
}
.questnum{
    position: relative;
    top: 3px;
    left: 8px;
    text-align: left;
    font: lighter 16px/26px 'Poppins';
    letter-spacing: 0px;
    color: #112234;    
    opacity: 0.31;
}
.question{
    position: relative;
    top: 3px;
    left: 8px;    
    text-align: left;
    font: lighter 22px/30px 'Poppins';
    letter-spacing: 0px;
    color: #112234;    
}
.q_container{
    margin-top: 30px;
}
.alphabet{
    width: 54px;
    height: 54px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #F3F4F7;    
    border-radius: 50%;
    text-align: center;
}
.opt_container{
    width: 100%;
    padding: 15px;
    height: 82px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}