* {
    box-sizing: border-box;
  }
.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.grey{
  position: absolute;
  top: 186px;
  left: 0px;  
  width: 1920px;
  height: 298px;
  background: #E5E5E5 0% 0% no-repeat padding-box;
  opacity: 1;  
}
.course_head{
  position: absolute;
  top: 288px;
  left: 214px;
  width: 310px;
  height: 47px;
  text-align: center;
  font: bold 40px/70px 'Poppins';
  letter-spacing: 0px;
  color: #2A2A2A;
  opacity: 1;  
}
.cloud1{
  position: absolute;
  top: 278px;
  left: -1198px;
  width: 1920px;
  height: 237px;
  background: transparent url('../images/cloud1.png') 0% 0% no-repeat padding-box;
}
.cloud2{
  position: absolute;
  top: 278px;
  left: 722px;
  width: 1198px;
  height: 237px;  
  background: transparent url('../images/cloud2.png') 0% 0% no-repeat padding-box;
}