{%extends 'base1.html'%}
{%load static%}
{%block title%}Home{%endblock title%}
{%block content%}

<a href=""><div class="telugu"></div></a>
<a href=""><div class="hindi"></div></a>
<a href=""><div class="science"></div></a>
<a href=""><div class="biology"></div></a>
<a href=""><div class="english"></div></a>
<a href=""><div class="mathematics"></div></a>
<a href=""><div class="social"></div></a>
<a href=""><div class="general"></div></a>
{{exam_count}}

<!--{%for lesson in lesson%}
{{lesson.lesson}}
{%endfor%}-->
{%endblock content%}
